<html>
{% load static %}
    <head>
        <title>tickets</title>
        <link rel="stylesheet" href="{% static 'ticketing_app/css/rtlbootstrap.min.css' %}">
        <script src="{% static 'ticketing_app/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'ticketing_app/js/rtlbootstrap.min.js' %}"></script>
    </head>
    <body dir="rtl">
       <header>
           <h3>سامانه تیکتینگ شرکت ایرانیان</h3>
           <h5>{{USER_FULL_NAME}}</h5>
           <hr>

           <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="http://www.google.com">ایرانیان</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home_page' %}">صفحه اصلی</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'user_login' %}">ورود</a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'ticket' %}">ثبت درخواست</a>
                </li>
                
              </ul>
            </div>
          </nav>    

       </header>
       <div class="container">
           {% block content %}
           {% endblock content %}
       </div>
    </body>
</html>