{% extends "base.html" %}

{% block content %}

<style>
    .login-form{
        padding: 20px;
    }
</style>

<form action="{% url 'user_login' %}" method="POST" class="login-form">
    {% csrf_token %}
    <input type="hidden" name="login_submit" value="true">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">پست الکترونیک</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">رمز عبور</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
        </div>
    </div>
    <input type="submit" value="تایید" class="btn btn-primary">
</form> 

<p>
    برای ثبت نام <a href="{% url 'signup' %}">اینجا</a> کلیک کنید.
</p>

{% endblock content %}