{% extends "base.html" %}

{% block content %}
<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="signup_submit" value="true">
    <label for="first_name">نام</label>
    <input type="text" name="first_name" value="{{first_name}}">
    <br>
    <label for="last_name">نام خانوادگی</label>
    <input type="text" name="last_name" value="{{last_name}}">
    <br>
    <label for="password">رمز عبور</label>
    <input type="password" name="password" required>
    <br>
    <label for="email">پست الکترونیک</label>
    <input type="text" name="email">
    <br>
    <label for="phone">شماره تلفن</label>
    <input type="text" name="phone" value="{{phone}}">
    <br>

    <label for="company">شرکت</label>
    <select name="company">
        {% for company in companies %}
            <option value="{{company.id}}">{{company}}</option>
        {% endfor %}
    </select>
    <br>
    
    <input type="submit" value="save">
</form> 

{% if logged_in %}
    <p style="color: green">کاربر با موفقیت احراز شد.</p>
{% endif %}
{% endblock content %}