{% extends "base.html" %}

{% block content %}
<br>

<form action="{% url 'ticket_history' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="login_submit" value="true">
  <h5>فیلتر کردن نتایج</h5>
  <div class="form-row">
      <div class="form-group col-md-4">
          <label for="title">عنوان</label>
          <input type="text" class="form-control" id="title" name="title" value="{{title}}"> 
      </div>
      <div class="form-group col-md-4">
        <label for="ticket_type">نوع تیکت</label>
        <select class="form-control" id="ticket_type" name="ticket_type">
          <option value="">----</option>
          {% for type in ticket_types %}
            <option>{{type}}</option>
          {% endfor %}
        </select>
      </div>
      <input type="submit" value="جستجو" class="btn btn-primary">
  </div>
</form> 


<table
  id="table"
  data-toggle="table"
  data-height="350"
  data-pagination="true"
  data-page-size="5"
  >
  <thead class="thead-dark">
    <tr>
      <th data-field="id">#</th>
      <th data-field="type">نوع تیکت</th>
      <th data-field="title">عنوان</th>
      <th data-field="description">توضیحات</th>
      <th data-field="datetime">تاریخ ثبت</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ticket.ticket_type}}</td>
            <td>{{ticket.title}}</td>
            <td>{{ticket.description}}</td>
            <td>{{ticket.datetime}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>


<!-- <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 5%">#</th>
      <th scope="col" style="width: 15%">نوع تیکت</th>
      <th scope="col" style="width: 15%">عنوان</th>
      <th scope="col" style="width: 50">توضیحات</th>
      <th scope="col" style="width: 15%">تاریخ ثبت</th>
    </tr>
  </thead>
  <tbody id="data-table-body">
    {% for ticket in tickets %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ticket.ticket_type}}</td>
            <td>{{ticket.title}}</td>
            <td>{{ticket.description}}</td>
            <td>{{ticket.datetime}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table> -->
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for n in page_range %}
        <li class="page-item"><a class="page-link page-number" href="#">{{n}}</a></li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link page_num" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> -->


<link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>

<script>
    // $('.page-number').click(function(){
    //     console.log($(this).text());
    //     myData = {
    //         'get_page_data': true,
    //         'page_number': $(this).text(),
    //         'csrfmiddlewaretoken': '{{ csrf_token }}',
    //     }
    //     $.ajax({
    //         url: "{% url 'ticket_history' %}",
    //         method: 'post',
    //         data: myData,
    //         dataType: 'json',
    //         success: function(data){
    //             $("#data-table-body tr").remove();
    //             console.log('sucsess')
    //             console.log(data)
    //             for(i=0; i<data.tickets.length; i++){
    //                 ticket = data.tickets[i]
    //                 tr = $('<tr>').append(
    //                     $('<td>').text(i+1),
    //                     $('<td>').text(ticket.tickettype),
    //                     $('<td>').text(ticket.title),
    //                     $('<td>').text(ticket.description),
    //                     $('<td>').text(ticket.datetime),
    //                 );
    //                 $("#data-table-body").append(tr);
    //             }
    //         },
    //         error: function(){
    //             console.log('error')
    //         }
    //     });
    // })
</script>

{% endblock content %}