 


{% extends "base.html" %}

{% block content %}
    <form action="{% url 'ticket' %}" method="POST">
        {% csrf_token %}
        <label>type: </label>
        <select name="type">
            {% for type in ticket_types %}
                <option>{{type}}</option>
            {% endfor %}
        </select>
        <br>
        <label>title: </label>
        <input type='text' name='title'>
        <br>
        <label>description:</label>
        <textarea name="description" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="save">
    </form> 
    {% if success %}
    <p style="color: green">ticket created successfully with id {{ticket_id}}</p>
    {% endif %}
{% endblock content %}